SOAP/ZF/generated-document-literal.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="uri:lathspell" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MyServer" targetNamespace="uri:lathspell">
    <types>
        <xsd:schema targetNamespace="uri:lathspell">
            <xsd:element name="greeter">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="greeterResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeterResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="kaputt">
                <xsd:complexType/>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="MyServerPort">
        <operation name="greeter">
            <input message="tns:greeterIn"/>
            <output message="tns:greeterOut"/>
        </operation>
        <operation name="kaputt">
            <documentation>kaputt</documentation>
            <input message="tns:kaputtIn"/>
        </operation>
    </portType>
    <binding name="MyServerBinding" type="tns:MyServerPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greeter">
            <soap:operation soapAction="uri:lathspell#greeter"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="kaputt">
            <soap:operation soapAction="uri:lathspell#kaputt"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MyServerService">
        <port name="MyServerPort" binding="tns:MyServerBinding">
            <soap:address location="uri:lathspell"/>
        </port>
    </service>
    <message name="greeterIn">
        <part name="parameters" element="tns:greeter"/>
    </message>
    <message name="greeterOut">
        <part name="parameters" element="tns:greeterResponse"/>
    </message>
    <message name="kaputtIn">
        <part name="parameters" element="tns:kaputt"/>
    </message>
</definitions>
